<div class="animate__animated animate__fadeIn">
<h2>Por país</h2>
<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="search( $event )"
      placeholder="Buscar pais"
    ></app-pais-input>
  </div>
</div>

  <ul
    *ngShow="viewSuggestions"
    class="list-group">
    <li
      *ngFor="let country of suggestionForCountries"
      class="list-group-item list-group-item-action">
      <a
        class="nav-link"
        [routerLink]="['/pais', country.cca2]">
        {{country.name.official}}
      </a>
    </li>
    <li
      (click)="searchSuggestion(query)"
      class="list-group-item list-group-item-action">
      <a class="nav-link">
        Buscar "{{query}}"
      </a>
    </li>
  </ul>

<hr>
<div
  *ngIf="haveError"
  class="alert alert-danger">No se encontró nada con el término {{ query }}</div>
  <div
    *ngIf="countries.length != 0"
    class="col">
    <app-pais-tabla [countries]="countries"></app-pais-tabla>
  </div>
</div>
